body{background-color: rgb(71, 48, 3)
    ;}

h1{color: rgb(231, 214, 214);
    font-size: 48px;
align-content: flex-start;
justify-content: space-between;
display:flex;
flex-wrap: wrap;
flex-direction: row;
border: solid;
border-color: #3d2b03;
border-width: thin;
background-color: #a37b15;
}
.cit{font-size:10px;
font-style:italic;
text-align :right;}
h3{color: rgb(212, 189, 189);
    font-size: 48px;
align-content: flex-start;
justify-content: space-between;
display:flex;
flex-wrap: wrap;
flex-direction: row;
border: solid;
border-color: #3d2b03;
border-width: thin;
background-color: #a37b15;}

p{color: rgb(224, 233, 226);
font-size: 24px;
background-color: rgb(83, 43, 3);}
.cont1{color: rgb(0, 34, 5);
font-size: 24px;

border: 2px solid;
padding: 20px;
border-radius: 8px;
}

.link{font-size:36px;
font-family:Arial, Helvetica, sans-serif;
color: rgb(99, 24, 24);
border: solid;
border-width: thin;
border-color: rgb(236, 236, 160);
background-color: #fcf80a;
display: flex;
justify-content: space-around;
align-content: center;}