.link{font-size:36px;
font-family:fantasy;
color: rgb(99, 24, 24);
border: solid;
border-width: thin;
border-color: rgb(236, 236, 160);
display: flex;
justify-content: space-around;
align-content: center;}
    
.logo{display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  background-color: #a0cff7;
  ;}

.logo1{display:flex;
flex-direction: column;
width: 23%;
justify-content:flex-start;
align-content:stretch;
border:solid;
  flex-wrap: wrap;
font-size: 12px;
float: left;
margin:6px;
  background-color: #fbfdff;
padding: 6px;
line-height: 22px;
  box-sizing: border-box;
  border-width: thin;
  height:700px;
 
}